.git
.github
.cursor
.idea
.vscode
.zed
.fleet
.nova

.env
.env.*
!.env.example
auth.json

node_modules
vendor
public/build
public/hot
public/storage

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/pail
storage/*.key

frankenphp
frankenphp-worker.php
**/caddy

.phpunit.cache
.phpunit.result.cache
.phpactor.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

tests
docs
graphify-out
*.md
!README.md

Dockerfile
compose.yaml
docker-compose.yml
.dockerignore
